:root {
  --accent-color: #2E2F42;
  --primery-font: "Roboto", sans-serif;
}
body {
  font-family: var(--primery-font);
  font-size: 16px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header {
}
.header-navigation {
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}
.header-list {
}
.header-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header-item :hover,
.header-item :focus{
  color: #404BBF;
}
.header-link {
}
.address-item-mail {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-item-mail :hover,
.address-item-mail :focus {
  color: #404BBF;
}
.address-item-tel {  
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-item-tel :hover,
.address-item-tel :focus {
  color: #404BBF;
}
.hero {
  background: var(--accent-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;  
}
.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
  cursor: pointer;
}
.hero-btn :hover,
.hero-btn :focus {
  background: #404BBF;
}
.portfolio {    
}
.portfolio-btn-list {
}
.portfolio-btn-item {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
}
.portfolio-btn-item :hover,
.portfolio-btn-item :focus {
  color: #FFFFFF;
  background: #404BBF;
  cursor: pointer;
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.portfolio-item-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature {
}
.feature-list {
}
.feature-item {
}
.feature-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.feature-item-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.gallery {
}
.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}
.gallery-list {
}
.gallery-item {
}
.team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}
.team-list {
}
.team-item {
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.team-item-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}
.footer {
  background: var(--accent-color);
}
.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #E7E9FC;
}